extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update 
  else 
  - let id = toShow._id 
  - let brandName = toShow.brandName 
  - let price = toShow.price 
  - let flavour = toShow.flavour 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/biscuits/" + id 
  form(id='BiscuitsForm', action= actionid, method="PUT") 
    div.form-group 
        label.costumeAttr(for='brandName') Biscuit brand name 
        input#brandName(type='text', name='costume_type', value= brandName ) 
    div.form-group 
        label.costumeAttr(for='size') Biscuit flavour 
        input#size(type='text', name='size', value= flavour ) 
    div.form-group 
        label.costumeAttr(for='cost') Biscuit cost 
        input#cost(type='number', name='cost', value= price ) 
    input(type="submit") 
 
  script. 
    document.forms['BiscuitsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 